<launch>

    <arg name="config" default="$(find path_publisher_ros_tool)/launch/params/path_publisher_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_path_publisher"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="path_publisher"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- PathPublisher -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load path_publisher_ros_tool/PathPublisherNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
